#mainApp{
  margin-left: 50px;
  margin-right: 50px;
}

#logo {
  max-width: 100%;
  height: 175px;
}

#logoDiv {
  margin: 10px 0 0 0;  /* top right bottom left */
}

#video {
  max-width: 100%;
  height: 175px;
}

@media screen and (max-width: 800px) {
    #video {
      display: none;
    }
    #logo {
      height: auto;
      max-height: 175px;
    }
}

#videoDiv {
  margin: 10px 0 0 0;
}

#tabPanel{
  display:none;
}

#footer{
  margin-top:20px;
  font-size: 5;
}

#banner {
  width: 100%;
}

#bannerDiv {
  margin: 10px -50px 10px -50px; /* top right bottom left */
}

#scaleBarDiv {
  margin-right: 15px; /* hack to account for scroll bar */
}

body {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 40;
  color: #313131;
}

h {
  font-family: 'Lato', sans-serif;
}

h1, .h1 {
  font-weight: lighter;
  font-size: 40;
  color: #23723F;
}

h2, .h2 {
  font-weight: lighter;
  font-size: 36;
  color: #313131;
}

h3, .h3 {
  font-weight: lighter;
  font-size: 36;
  color: #23723F;
}

#smallerfont {
  font-weight: lighter;
  font-size: 16;
}

button {
  color: #23723F;
  /*background-color: #900; */
  font-weight: bold;
}

#bottomBorder {
  background-color: #23723F;
  padding: 10px;
  margin-right: -50px;
  margin-left: -50px;
}
