#tabPanel{
  display:none;
}

banner {
  margin-top: 10px;
}

body {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 40;
  color: #313131;
}

h {
  font-family: 'Lato', sans-serif;
}

h1, .h1 {
  font-style: light;
  font-size: 40;
  color: #23723F;
}

h2, .h2 {
  font-style: light;
  font-size: 36;
  color: #313131;
}

h3, .h3 {
  font-style: light;
  font-size: 36;
  color: #23723F;
}

button {
  color: #23723F;
  /*background-color: #900; */
  font-weight: bold;
}